header{
    background-size: cover;
    color: #FFFEF8;
    font-family: 'Sarina', cursive;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 45px;
}
body{
    padding-top: 0px;
    margin: 0;
    position: relative;
}
h1 {
    color: #FFFEF8;
    font-family: 'Sarina', cursive;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align: center;
}
h2 {
    font-family: 'Sarina', cursive;
    color: #FFFEF8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
h3 {
    font-family: 'Nunito', sans-serif;
    color: #78A8FE;
    font-size: 60px;
    padding-top: 0px;
    margin-top: 0px;
    text-outline: 2px 2px #ff0000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
h4 {
    font-family: 'Nunito', sans-serif;
    color: #78A8FE;
    font-size: 50px;
    margin: 10px;
    text-outline: 2px 2px #ff0000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align: center;
    
}
h5 {
    display: none;
    font-family: 'Nunito', sans-serif;
    color: #FFFEF8;
    font-size: 20px;
    text-outline: 2px 2px #ff0000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align: right;
    
}
.skype:hover + h5 {
    display: block;
}
.facebook:hover + h5 {
    display: block;
}
.email:hover + h5 {
    display: block;
}
p {
    font-family: 'Nunito', sans-serif;
    color: #FFFEF8;
    font-size: 18px;
    padding-top: 20px;
    text-shadow: #000 0px 0px 1px;
    text-align: justify;
}
font {
    font-family: 'Nunito', sans-serif;
    color: #FFFEF8;
    font-size: 20px;
    padding-top: 20px;
    text-shadow: #000 0px 0px 1px;
}

p>a:hover, p>a:focus, p>a {
    color: #E1C9E6;
    text-shadow: #000 0px 0px 1px;
    text-decoration: none;
}
.brandimg {
    height: 25px;
}
.navbar-default {
    background: linear-gradient(135deg, rgba(120,168,254,0.85) 0%,rgba(55,56,104,0.95) 100%);; 
}
.navbar-brand{
    font-family: 'Sarina', cursive;
    padding-bottom: 0px;
    padding-top: 20px;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus{
    color: #FFFEF8;
}
.navbar-default .navbar-brand:hover{
    color: #E1C9E6;
}
.navbar-default .navbar-nav>li>a {
    color: #FFFEF8;
    font-family: 'Sarina', cursive;
    padding-bottom: 0px;
    padding-top: 20px;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #E1C9E6;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#FFFEF8;
}
.navbar-default .navbar-toggle .icon-bar:hover {
    background-color:#E1C9E6;
}
.navbar-default .navbar-toggle {
    border-color: #FFFEF8;
}
.navbar-default .navbar-toggle:hover{
    border-color: #FFFEF8;
    background-color: #373868;
}
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle:active {
    background-color: #373868;
}
.navbar-default .navbar-nav>.active>a{
    background-color: transparent;
    color: #E1C9E6;
}
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #E1C9E6;
}
.navbar-default .navbar-nav>.active>a:focus{
    background-color: transparent;
    color: #E1C9E6;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFEF8;
}
.hvr-float:focus{
    transform: translateY(0px);
}
.hvr-float:hover, .hvr-float:active{
    transform: translateY(-4px);
}
.btn {
    color: #FFFEF8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.btn:focus {
    color: #FFFEF8;
}
.btn:hover{
    color: #FFFEF8;
}
section {
    padding: 35px 0;
}
.logo {
    padding-top: 80px;
    height: 525px;
    display: block;
    margin: 0 auto;
}
.empty1 {
    height: 715px;
    background-color: #d8d6d6;
}
.empty2 {
    height: 715px;
    background-color: #d8d6d6;
}
.bgimage1 {
  background-image: url('../images/Paris_Full.jpg');
  background-position: center center;
  background-size: cover;
  height: 705px;
}
.bgimage2 {
    background-image: url('../images/Me.jpg');
    background-position: center center;
    background-size: cover;
    height: 715px;
}
.bgimage3 {
    background-image: url('../images/bridge.jpg');
    background-position: left top;
    background-size: cover;
    height: 705px;
}
.bgimage4 {
    background-image: url('../images/ecole_42_cluster.jpg');
    background-position: center center;
    background-size: cover;
    height: 705px;
}
.bgimage5 {
    background-image: url('../images/skills.jpg');
    background-position: center center;
    background-size: cover;
    height: 705px;
}
#myob {
    background-color: rgba(216, 214, 214, 0.7);
    border-radius: 25px;
}
#about {
    padding-top: 50px;
}
#objective {
    padding-top: 55px;
}
#skills {
    padding-top: 55px;
}
#myskills {
    border-radius: 25px;
}
.one {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 98%, rgba(216, 214, 214, 0.4) 40%);
}
.two {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 98%, rgba(216, 214, 214, 0.4) 40%);
}
.three {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 85%, rgba(216, 214, 214, 0.4) 40%);
}
.four {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 65%, rgba(216, 214, 214, 0.4) 40%);
}
.five {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 90%, rgba(216, 214, 214, 0.4) 40%);
}
.six {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 85%, rgba(216, 214, 214, 0.4) 40%);
}
.skillcont {
    padding-left: 45px;
    padding-right: 45px;
}
.get {
	display:none;
}
.filler {
    padding: 50px 0;
}
#diagram {
	float:left;
	width:600px;
	height:600px;
}