@media (max-width: 325px){
    .navbar-brand{
        max-width: 60%;
    }
    .navbar-brand>img{
        max-width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
@media (max-height: 700px){
    div #home{
        height: 100%;
    }
}
@media (min-width: 768px){
    header .intro-text .intro-lead-in {
        font-size: 40px;
        color: #FFFEF8;
        font-family: 'Sarina', cursive;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
        text-align: center
    }
}
@media (max-width: 768px){
    header .intro-text .intro-lead-in {
        font-size: 25px;
        color: #FFFEF8;
        font-family: 'Sarina', cursive;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
        text-align: center
    }
    .navbar-brand{
        font-size: 25px !important;
    }
}
header{
    background-size: cover;
}
body{
    padding-top: 0px;
    margin: 0;
    position: relative;
}
h1 {
    color: #FFFEF8;
    font-family: 'Sarina', cursive;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    text-align: center;
}

.brandimg {
    height: 25px;
}
.navbar-default {
    background: linear-gradient(135deg, rgba(55,56,104,0.95) 0%,rgba(120,168,254,0.85) 100%);; 
}
.navbar-brand{
    font-family: 'Sarina', cursive;
    padding-bottom: 0px;
    padding-top: 20px;
    font-size: 30px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus{
    color: #FFFEF8;
}
.navbar-default .navbar-brand:hover{
    color: #E1C9E6
}
.navbar-default .navbar-nav>li>a {
    color: #FFFEF8;
    font-family: 'Sarina', cursive;
    padding-bottom: 0px;
    padding-top: 20px;
}
.navbar-default .navbar-nav > li > a:hover{
    color: #E1C9E6;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#FFFEF8;
}
.navbar-default .navbar-toggle .icon-bar:hover {
    background-color:#E1C9E6;
}
.navbar-default .navbar-toggle {
    border-color: #FFFEF8;
}
.navbar-default .navbar-toggle:hover{
    border-color: #FFFEF8;
    background-color: #373868;
}
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle:active {
    background-color: #373868;
}
.navbar-default .navbar-nav>.active>a{
    background-color: transparent;
    color: #E1C9E6;
}
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #E1C9E6;
}
.navbar-default .navbar-nav>.active>a:focus{
    background-color: transparent;
    color: #E1C9E6;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFEF8;
}
.hvr-float:focus{
    transform: translateY(0px);
}
.hvr-float:hover, .hvr-float:active{
    transform: translateY(-4px);
}
.btn {
    color: #FFFEF8;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.btn:focus {
    color: #FFFEF8;
}
.btn:hover{
    color: #FFFEF8;
}
.bgimage1 {
  background-image: url('../images/Paris_Night.jpg');
  background-position: center center;
  background-size: cover;
  height: 700px;
}
.logo {
    padding-top: 120px;
    height: 450px;
    display: block;
    margin: 0 auto;
}
.empty1 {
    height: 715px;
    background-color: #d8d6d6;
}
.empty2 {
    height: 715px;
    background-color: #d8d6d6;
}
.bgimage2 {
  background-image: url('../images/Me.jpg');
  background-position: center center;
  background-size: cover;
  height: 715px;
}
.bgimage3 {
  background-image: url('../images/bridge.jpg');
  background-position: left top;
  background-size: cover;
  height: 700px;
}

#container {
    padding-top:0px;
	margin:0px;
	padding-left:0px;
	padding-bottom:0px;
}